<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>quikwallet</name>
	<displayName><![CDATA[QuikWallet]]></displayName>
	<version><![CDATA[1.3.1]]></version>
	<description><![CDATA[Accept payments with QuikWallet]]></description>
	<author><![CDATA[Team QuikWallet]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>
